:root {

  --color-background: #ECEFF4;
  --color-background-sec: #D8DEE9;

  --color-background-solid: rgba(236, 239, 244, 1);
  --color-background-transparent: rgba(236, 239, 244, 0);

  --color-text: #2E3440;
  --color-text-sec: #4C566A;

  --color-text-solid: rgba(59, 66, 82, 1);
  --color-text-transparent: rgba(59, 66, 82, 0);

  --color-accent: #A3BE8C;
  --color-accent-transparent: rgba(163, 190, 140, 0.5);

  --color-accent-sec: #BF616A;

  --color-gray: lightgray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2E3440;
    --color-background-sec: #4C566A;
  
    --color-background-solid: rgba(59, 66, 82, 1);
    --color-background-transparent: rgba(59, 66, 82, 0);
  
    --color-text: #ECEFF4;
    --color-text-sec: #D8DEE9;
  
    --color-text-solid: rgba(236, 239, 244, 1);
    --color-text-transparent: rgba(236, 239, 244, 0);
    
    --color-gray: gray;
  }
}