:root {

  --color-background: #ECEFF4;
  --color-background-sec: #D8DEE9;

  --color-background-solid: rgba(236, 239, 244, 1);
  --color-background-transparent: rgba(236, 239, 244, 0);

  --color-text: #2E3440;
  --color-text-sec: #4C566A;

  --color-text-solid: rgba(59, 66, 82, 1);
  --color-text-transparent: rgba(59, 66, 82, 0);

  --color-accent: #A3BE8C;
  --color-accent-transparent: rgba(163, 190, 140, 0.5);

  --color-accent-sec: #BF616A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2E3440;
    --color-background-sec: #4C566A;
  
    --color-background-solid: rgba(59, 66, 82, 1);
    --color-background-transparent: rgba(59, 66, 82, 0);
  
    --color-text: #ECEFF4;
    --color-text-sec: #D8DEE9;
  
    --color-text-solid: rgba(236, 239, 244, 1);
    --color-text-transparent: rgba(236, 239, 244, 0);
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
