@import './base.css';

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}

h1, h2, h3, h4{
  margin: 0;
}

button {
  padding: 6px;
  text-align: center;
  border: 1px solid var(--color-text-sec);
  background-color: var(--background-color);
  color: var(--color-text);
  border-radius: 8px;
}

input,textarea{
  border: 1px solid var(--color-text-sec);
  background-color: var(--background-color);
  color: var(--color-text);
}

label,input,textarea{
  display:flex;
  flex-direction:column;
}

label {
  font-size: 12px;
}

/* icons */
svg{
  height: 16px;
  margin-bottom: -3px;
}

.section{
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid var(--color-background-sec);
}